.about-container{
  padding: 0;
  margin: 0;
  background: url(../images/cragsback.jpg) no-repeat center center fixed;
  @include bg-size(cover);
  height: auto;
  min-height: 2000px;
}

.about-box {
  background: $white;
  width: 100%;
  height: auto;
  margin-top: 15%;
  z-index: 1;
}

.underline {
  height: 1px;
  width: 90%;
  background: $charcoal;
  margin: 0 5%;
}

.sp-box {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  background: $lt-gray;
  margin: 2% auto;
}

.sp-logo {
  color: $white;
  font-size: 2em;
  text-align: center;
  padding: 37.5% 0;
  font-family: $serif;
  font-weight: 500;
  font-style: italic;
}

.background {
  list-style-type: none;
  font-size: 1.25em;
  .background-item {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2%;
    color: $charcoal;
    display: block;
  }
  li {
    color: $lt-gray;
  }

}

.contact-links{
  width: 100%;
  height: 100px;
}

