.about-container{
  padding: 0;
  margin: 0;
  background: url(../images/cragsback.jpg) no-repeat center center fixed;
  @include bg-size(cover);
  height: auto;
  min-height: 2000px;
}

.about-box {
  background: $white;
  width: 100%;
  height: auto;
  margin-top: 15%;
  z-index: 1;
  padding: 2.5% 0;
}

.underline {
  height: 1px;
  width: 90%;
  background: $charcoal;
  margin: 0 5%;
}

.sp-box {
  @include box-transition(500ms);
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  background: $lt-gray;
  margin: 2% auto;
  &:hover {
    text-decoration: none;
    @include box-scale(1.15);
  }
}

.sp-logo {
  color: $white;
  font-size: 2em;
  text-align: center;
  padding: 37.5% 0;
  font-family: $serif;
  font-weight: 500;
  font-style: italic;
}

.logo-link-box {
  display: block;
  margin: 2% auto;
  width: 300px;
  height: 100px;
}
.logo-link {
  @include box-transition(750ms);
  // display: block;
  margin: 5%;
  color: $lt-gray;
  &.quora {
    color: transparent;
    width: 50px;
    height: 50px;
    margin-top: -5px;
  }
  &:hover {
    color: $lt-gray;
    text-decoration: none;
    @include box-scale(1.15);
  }
}

.background {
  list-style-type: none;
  font-size: 1.25em;
  padding: 0 5%;
  .background-item {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2%;
    color: $charcoal;
    display: block;
  }
  li {
    color: $lt-gray;
  }

}

.contact-links{
  width: 100%;
  height: 100px;
  margin: 2%;
}

