.project-box {
  background: $white;
  width: 100%;
  height: 75%;
  // min-height: 1000px;
  margin-top: 15%;
  z-index: 1;
  padding: 2.5% 0;
}

.screenshot-img {
  width: 300px;
  display: block;
  margin: 2% auto;
}