.project-box {
  background: $white;
  width: 100%;
  // height: 75%;
  min-height: 1000px;
  overflow: hidden;
  margin-top: 15%;
  z-index: 1;
  padding: 2.5% 0;
}

.screenshot-img {
  width: 300px;
  display: block;
  margin: 2% auto;
}

.stack-list {
  list-style-type: none;
}

.stack-item {
  font-size: 1.25em;
  margin: 1% 0;
  padding: 0 5%;
}