.about-button {
  @include link-transition(700ms);
  font-weight: 500;
  font-family: $serif;
  font-style: italic;
  font-size: 1.25em;
  color: $charcoal;
  border: 1px solid $charcoal;
  border-radius: 6px;
  background: $white;
  margin: 1% 5%;
  &:hover, &:active, &:focus {
    color: $lt-gray;
    border: none;
    background: $charcoal;
  }
  &:visted {
    color: $charcoal;
    border: 2px solid $charcoal;
    background: transparent;
  }
}