@font-face {
  font-family: 'old sans black';
    src: url('../fonts/oldsansblack/oldsansblack-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/oldsansblack/oldsansblack-webfont.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/oldsansblack/oldsansblack-webfont.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/oldsansblack/oldsansblack-webfont.woff2') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/oldsansblack/oldsansblack-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/oldsansblack/oldsansblack-webfont.svg') format('svg'); /* Legacy iOS */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $oldsansblack;
  font-weight: 900;
}

.title {
  color: $white;
  text-align: center;
  font-size: 25em;
  padding-top: 5%;
}

.section-title {
  padding-top: 15%;
  &.subtitle {
    padding-top: 0;
  }

  &.jade {
    color: $jade;
  }
}

