@font-face {
  font-family: 'old sans black';
    src: url('../fonts/oldsansblack/oldsansblack-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/oldsansblack/oldsansblack-webfont.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/oldsansblack/oldsansblack-webfont.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/oldsansblack/oldsansblack-webfont.woff2') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/oldsansblack/oldsansblack-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/oldsansblack/oldsansblack-webfont.svg') format('svg'); /* Legacy iOS */
}

p {
  text-align: justify;
  font-weight: 400;
  font-family: $serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $oldsansblack;
  font-weight: 700;
}

.serif {
  // @include stretch-font(0.75, 1);
  font-family: $serif;
  font-style: italic;
  &.thin {
    font-weight: 600;
  }
}

.centered {
  text-align: center;
}

.hello {
  color: $white;
  text-align: center;
  font-size: 30em;
  @include breakpoint(tablet){
   font-size: 25em;
  }
  @include breakpoint(mobile){
    padding-top: 15%;
    font-size: 20em;
  }
  //this breakpoint needs some work.
  @include breakpoint(iphone){
    padding-top: 37.5%;
    font-size: 10em;
  }

}

.subtitle {
  color: $white;
  font-family: $serif;
  font-style: italic;
  margin: 1% 5%;
  font-size: 7em;
  @include breakpoint(tablet){
    font-size: 6em;
  }
  @include breakpoint(mobile){
    font-size: 5em;
  }
  @include breakpoint(iphone){
    font-size: 4em;
  }
}

.show-you {
  color: $white;
  font-family: $serif;
  font-style: italic;
  margin: 1% 5%;
}

.centered-about {
  text-align: center;
  margin: 2% 0;
}

.about {
  color: $black;
  margin: 5%;
  font-size: 1.25em;
}

.contact {
  font-size: 6em;
  text-align: center;
}

.contact-subtitle {
  margin-top: 25%;
  text-align: center;
}

.contact-link {
  color: $black;
  position: absolute;
  &:hover, &:active, &:focus {
    color: $black;
  }
  &:visited {
    color: $black;
  }
      &.twitter {
        left: 47%;
        @include breakpoint(tablet){
          left: 44%;
        }
        @include breakpoint(mobile){
          left: 40%;
        }
        @include breakpoint(iphone){
          left: 35%;
        }
      }
      &.coffee {
        left: 50%;
      }
}

.splash {
  color: $charcoal;
  font-size: 2em;
  font-style: italic;
}

.intro {
  margin: 1% 15%;
}

.title{
  font-size: 3em;
  margin-top: 2%;
}

.center-title {
  text-align: center;
  font-family: $serif;
  font-style: italic;
  position: absolute;
  top: 25%;
  left: 37.5%;
  color: $black;
}

.elevator-pitch{
  padding: 1% 5%;
}

.press-link {
  @include link-transition(500ms);
  color: $charcoal;
  text-decoration: underline;
  &:hover, &:active, &:focus {
    @include box-scale(1.05);
    color: $black;
  }
  &:visited {
    color: $charcoal;
  }
}








