@font-face {
  font-family: 'old sans black';
    src: url('../fonts/oldsansblack/oldsansblack-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/oldsansblack/oldsansblack-webfont.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/oldsansblack/oldsansblack-webfont.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/oldsansblack/oldsansblack-webfont.woff2') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/oldsansblack/oldsansblack-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/oldsansblack/oldsansblack-webfont.svg') format('svg'); /* Legacy iOS */
}

p {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $oldsansblack;
  font-weight: 700;
}

.serif {
  @include stretch-font(0.75, 1);
  font-family: $serif;
  font-style: italic;
}

.hello {
  color: $white;
  text-align: center;
  font-size: 30em;
  @include breakpoint(tablet){
   font-size: 25em;
  }
  @include breakpoint(mobile){
    padding-top: 15%;
    font-size: 20em;
  }
  @include breakpoint(iphone){
    padding-top: 37.5%;
    font-size: 10em;
  }

}








