#home {
  background: url(../images/tc.jpg) no-repeat center center fixed;
  @include bg-size(cover);
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;

}

.home-article,
.ny-article {
  height: 500px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%;
}

#ny {
  background: url(../images/nyc.jpg) no-repeat center center fixed;
  @include bg-size(cover);
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

.foreground {
  &.image {
    background: url(../images/hn.jpg) no-repeat center center fixed;
    @include bg-size(cover);
  }
  min-height: 700px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;

}


.article-box {
width: 100%;
height: auto;
background: rgba($lt-gray, 0.5);
padding: 2%;
margin: 2% 5%;
}

.contact-box{
  position: relative;
  // width: 320px;
  height: auto;
  margin: 15% auto;

}
