@mixin bg-size($param){
  -webkit-background-size: $param;
  -moz-background-size: $param;
  -o-background-size: $param;
  background-size: $param;
}


@mixin stretch-font($num, $num2){
  display:inline-block;
      transform:scale($num, $num2); /* W3C */
      -webkit-transform:scale($num, $num2); /* Safari and Chrome */
      -moz-transform:scale($num, $num2); /* Firefox */
      -ms-transform:scale($num, $num2); /* IE 9 */
      -o-transform:scale($num, $num2);
}

@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}


@mixin link-transition($time){
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}

//for breakpoint specific views
@mixin breakpoint($point) {
  @if $point == iphone {
    @media all and (max-width: $screen-xxs-max) { @content; }
  }
  @else if $point == mobile {
    @media all and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      @content;
    }
  }
  @else if $point == tablet {
    @media all and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if $point == desktop {
    @media all and (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $point == large {
    @media all and (min-width: $screen-lg) {
      @content;
    }
  }
}