@font-face {
  font-family: 'old sans black';
  src: url("../fonts/oldsansblack/oldsansblack-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oldsansblack/oldsansblack-webfont.ttf?#iefix") format("embedded-opentype"), url("../fonts/oldsansblack/oldsansblack-webfont.woff2") format("woff2"), url("../fonts/oldsansblack/oldsansblack-webfont.woff2") format("woff"), url("../fonts/oldsansblack/oldsansblack-webfont.ttf") format("truetype"), url("../fonts/oldsansblack/oldsansblack-webfont.svg") format("svg");
  /* Legacy iOS */ }
p {
  text-align: justify;
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "old sans black", Arial, sans-serif;
  font-weight: 700; }

.serif {
  display: inline-block;
  transform: scale(0.75, 1);
  /* W3C */
  -webkit-transform: scale(0.75, 1);
  /* Safari and Chrome */
  -moz-transform: scale(0.75, 1);
  /* Firefox */
  -ms-transform: scale(0.75, 1);
  /* IE 9 */
  -o-transform: scale(0.75, 1);
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic; }

.centered {
  text-align: center; }

.hello {
  color: white;
  text-align: center;
  font-size: 30em; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .hello {
      font-size: 25em; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .hello {
      padding-top: 15%;
      font-size: 20em; } }
  @media all and (max-width: 479px) {
    .hello {
      padding-top: 37.5%;
      font-size: 10em; } }

.subtitle {
  color: #365371;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  margin: 1% 5%;
  font-size: 7em; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .subtitle {
      font-size: 6em; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .subtitle {
      font-size: 5em; } }
  @media all and (max-width: 479px) {
    .subtitle {
      font-size: 4em; } }

.about {
  color: #141414;
  margin: 5%;
  font-size: 1.25em; }

.contact {
  font-size: 6em;
  text-align: center; }

.contact-subtitle {
  margin-top: 25%;
  text-align: center; }

.contact-link {
  color: #141414;
  position: absolute; }
  .contact-link:hover, .contact-link:active, .contact-link:focus {
    color: #141414; }
  .contact-link:visited {
    color: #141414; }
  .contact-link.twitter {
    left: 47%; }
    @media all and (min-width: 768px) and (max-width: 991px) {
      .contact-link.twitter {
        left: 44%; } }
    @media all and (min-width: 480px) and (max-width: 767px) {
      .contact-link.twitter {
        left: 40%; } }
    @media all and (max-width: 479px) {
      .contact-link.twitter {
        left: 35%; } }
  .contact-link.coffee {
    left: 50%; }

.about-button {
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  font-weight: 700;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 6px;
  background: transparent;
  margin: 1% 5%; }
  .about-button:hover, .about-button:active, .about-button:focus {
    color: #e5e5e5;
    border: none;
    background: #333333; }
  .about-button:visted {
    color: #333333;
    border: 2px solid #333333;
    background: transparent; }

#home {
  background: url(../images/tc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 1000px; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    #home {
      min-height: 700px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    #home {
      min-height: 600px; } }
  @media all and (max-width: 479px) {
    #home {
      min-height: 500px; } }

.home-article,
.ny-article {
  height: 500px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%; }

#ny {
  background: url(../images/nyc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 1000px; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    #ny {
      min-height: 700px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    #ny {
      min-height: 600px; } }
  @media all and (max-width: 479px) {
    #ny {
      min-height: 500px; } }

.foreground {
  min-height: 700px;
  margin: 0 auto;
  width: 100%;
  position: relative; }
  .foreground.image {
    background: url(../images/hn.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media all and (min-width: 768px) and (max-width: 991px) {
      .foreground.image {
        background: url(../images/hntablet.jpg) no-repeat center center fixed; } }
    @media all and (min-width: 480px) and (max-width: 767px) {
      .foreground.image {
        background: url(../images/hnmobile.jpg) no-repeat center center fixed; } }
    @media all and (max-width: 479px) {
      .foreground.image {
        background: url(../images/hniphone.jpg) no-repeat center center fixed; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .foreground {
      min-height: 700px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .foreground {
      min-height: 600px; } }
  @media all and (max-width: 479px) {
    .foreground {
      min-height: 500px; } }

.article-box {
  width: 100%;
  height: auto;
  background: rgba(229, 229, 229, 0.5);
  padding: 2%;
  margin: 2% 5%; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .article-box {
      margin: 0; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .article-box {
      margin: 0; } }
  @media all and (max-width: 479px) {
    .article-box {
      margin: 0; } }

.contact-box {
  position: relative;
  height: auto;
  margin: 15% auto; }
